{
    "server": {
        "host": "zkhc.kangmochou.com",
        "port": 4443,
        "bufsize": 1024
    },
    "client": [
         {
            "subdomain": "mrc_dev",
            "lport": 601,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "subdomain": "redis_admin",
            "lport": 510,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "subdomain": "mrc_dev_admin",
            "lport": 602,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "subdomain": "operationdev",
            "lport": 607,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "subdomain": "gitlab",
            "lport": 580,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "subdomain": "baota",
            "lport": 581,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "subdomain": "webhook",
            "lport": 571,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "subdomain": "apidev",
            "lport": 545,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "subdomain": "doctordev",
            "lport": 618,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "subdomain": "patientdev",
            "lport": 616,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "subdomain": "wxshopdevs",
            "lport": 545,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "subdomain": "jenkins",
            "lport": 536,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "subdomain": "api_dev_log",
            "lport": 573,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "subdomain": "admin_dev",
            "lport": 508,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          },
          {
            "protocol": "tcp",
            "subdomain": "",
            "hostname": "",
            "lport": 548,
            "lhost": "172.16.110.238",
            "rport": 10048
          },
          {
            "protocol": "tcp",
            "subdomain": "",
            "hostname": "",
            "lport": 551,
            "lhost": "172.16.110.238",
            "rport": 10051
          },
          {
            "protocol": "tcp",
            "subdomain": "",
            "hostname": "",
            "lport": 522,
            "lhost": "172.16.110.238",
            "rport": 10022
          },
          {
            "subdomain": "nexus",
            "lport": 532,
            "protocol": "http",
            "hostname": "",
            "rport": 0,
            "lhost": "172.16.110.238"
          }
    ]
}
